.App {
  text-align: center;
}
.ttitle{
  padding: 30px;
   color: grey;
  box-sizing: border-box;
  font-size: 1rem;
}
.insideT{
   padding: 5px;
}
.insideT span{
   border-right: 1px solid grey;
   font-size: 18px;
   padding: 10px;
   margin: 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   color: grey;
}
.insideT input{
   border-radius: 5px;
   border: 1px solid grey;
   outline: none;
}
.out{
   border: 1px solid grey;
}
.out input{
   border: none;
   outline: none;
}
.border-none{
   border: none;
}
.border{
   border: 1px solid grey;
}
.style{
   text-align: center;
   font-weight: bold;
   background-color: grey;
   color: black;
}
.blank{
   padding: 15px;
 background: rgb(211, 202, 202);    
}
.box{
   width: 60px;
   border-radius: 5px;
   border: 1px solid grey;
  margin: 5px;
}
.btn-custom{
   background: rgb(185, 167, 167);
   color: black;
   outline: none;
   border: none;
   border-radius: none;
   margin-right: 10px;
   
}